/.Rhistory
/.Rproj.user
/Introduction to Mathematical Statistics and Its Applications (5th Edition).pdf
/MS.Rproj
/Quick Data Visualization using R - XingZhaoyu.html
/slides
/Statistical Inference（Casella, Berger）.pdf
/test.nb.html
/test.Rmd
/概率论与数理统计--茆诗松（第二版）.pdf